<div class="article-detail">
  <h2>{{article.title}}</h2>
  <img src="{{article.image}}" class="img-responsive" />
  <div class="article-text">
    <br>
    <p><strong>Dates: </strong>{{article.date}}</p>
    <br>
    <p><strong>Location: </strong>{{article.location}}</p>
    <br>
    <p>{{article.content}}</p>
  </div>
</div>